/* Body */

body {
    background-color: #333;
    margin: 0;
}

/* Divisions */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: calc(100vh - 20px);

    /* border: 10px red solid; */ /* Recording state*/
}

.nav {
    position: absolute;
    bottom: 70px;

    height: 30px;
    width: 100%;
}

.navblock {
    display: flex;
    justify-content: space-around;

    background-color: #222;
    color: #FFF;

    border-radius: 10px;

    margin-left: 40px;
    margin-right: 40px;

    font-weight: 500;
}

.navblock div {
    transition: all ease 1s;

    margin-left: 20px;
    margin-right: 20px;
}

.navb {
    display: none;
}

.container {
    width: 100%;
}

.monitor {
    background-color: #222;
    color: aliceblue;

    margin-left: 40px;
    margin-right: 40px;

    margin-bottom: 20px;

    border-radius: 10px;
}

.temphum {
    color: aliceblue;
    background: rgb(0,0,0);
    background: linear-gradient(30deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);

    display: flex;
    justify-content: space-between;

    padding-left: 30px;
    padding-right: 30px;
    
    border-radius: 10px;
}

.thgrad {
    background: rgb(252,159,29);
    background: linear-gradient(90deg, rgba(252,159,29,1) 22%, rgba(203,197,197,1) 100%);
    
    margin-left: 40px;
    margin-right: 40px;

    border-radius: 10px;
}

.ed {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 30px;
    margin-right: 30px;
}

.vmdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button and Componenets */

.viewmore {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: #333333;
    color: #FFFFFF;

    border: 1px solid #000;
    border-radius: 17px;

    padding: 30px;

    margin: 20px;

    font-family: "Inter", sans-serif;
    font-size: 30px;
}

.recordb {
    border-radius: 70px;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
}

/* Fonts and Texts */

.title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    
    margin-bottom: 0;
    padding-top: 30px;
}

.ppminfo {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    text-align: center;
    
    margin-top: 0;
    
    color: 7DD0F9;
}

.en {
    font-family: "Inter", sans-serif;
    font-size: 70px;

    margin-top: 15px;
    margin-bottom: 15px;
}

.eq {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 50px;
    
    color: #7DD0F9;

    margin-top: 15px;
    margin-bottom: 15px;
}

.tlabel {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 0;
}

.tvalue {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bold;

    margin-top: 0;
    margin-bottom: 10px;
}

.hlabel {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: end;

    margin-top: 10px;
    margin-bottom: 0;
}

.hvalue {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: end;

    margin-top: 0;
    margin-bottom: 10px;
}

.turnoff {
    color: red;
    
    font-weight: bold;
}

.navblock p {
    font-family: "Inter", sans-serif;
    font-size: 25px;

    margin-right: 10px;
    margin-left: 10px;
}

.exit {
    transition: rotate 0.5s;
}

/* EVENTS & LOGICS (inside the css yes) */
/* Font */

.navactive {
    font-weight: bolder;
    
    border-bottom: 3px white solid;
}
