.container {
    width: 100%;
}

.column-grid{
    overflow: auto;
    max-height: 70%;

    background-color: #222;
    color: aliceblue;

    margin-left: 40px;
    margin-right: 40px;

    margin-bottom: 20px;

    border-radius: 10px;
}

.column-grid div {
    display: flex;
    justify-content: space-between;

    font-family: "Inter", sans-serif;
    font-size: 35px;

    padding: 20px;
}

.tools {
    text-align: center;
    width: 30px;
}